---
// Basic Cards grid Section
// ------------
// Description: A grid of cards with basic contact information in a 4 column layout.
// Properties:
// - classes: Additional classes to be added to the Section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BasicCard.astro'

// 	Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="requests" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-balance">Por qué elegirnos <strong></strong></h2>
			<p class="pb-0 text-lg">
				<!-- Choose from one of the options below to get the specific help you need. Whether it's
				customer support, sales inquiries, feature requests, or general feedback, we're here to
				provide you with the best assistance possible. -->
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="3">
			<Card
				title="Conocimiento local"
				subtitle=""
				icon="rocket"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Informes de visitas y seguimiento constante"
				subtitle=""
				icon="document-text"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3">
			<Card
				title="Honorarios claros y por escrito."
				subtitle=""
				icon="bolt"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
		<Col span="3" classes="flex flex-col gap-6">
			<Card
				title="Cierre ágil con notaría y postventa"
				subtitle=""
				icon="chat-bubble-left-ellipsis"
				classes="text-center dark:!bg-neutral-800/50"
				link="/contact"
			/>
		</Col>
	</Row>
</Section>
